<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <link name="base_link"></link>

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 0.05"/>
    </joint>

    <link name="chassis">
        <visual>
            <geometry>
                <cylinder radius="0.30" length="0.1"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>
</robot>